body{
    margin: 0;
    padding: 0;
    background:#ECE6D5 ;
 }

.hide-desktop{
    display: none;
 }

.wrap{
    /* padding: 1.5em 4em; */
    background: #050C0F;
    height: auto;
    border-radius: 0px 0px 100px 100px;
}

main{
    padding: 0;
    margin: 0;
}

#L0{
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

nav {
    height: auto;
    padding-left: 4em;
    padding-right: 4em;
    border-radius: 40px;
    box-shadow:0px 5px 2px 2px rgba(0, 0, 0, 0.301);

    ul{
        
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        padding-top: 1em;
        padding-bottom: 1em;
        font-family: montserrat;
        color: #ECE6D5;
        list-style: none;
        justify-content: space-between;

        /* .menu{
            
            &:nth-of-type(3){
                text-align: center;
                font-weight: 600;
                font-size: 1.2rem;
            }
        } */

        a{
            text-decoration: none;
            color: #ECE6D5;
        }
    }
}

.herocontainer{
    /* margin-left:30%; */
    /* margin-right:30%; */
    text-align: center;
    align-items: center;

    .p1{
        display: inline-block ;
        letter-spacing: 20px;
        line-height: 100%;
        margin: auto;
        padding-top: 7%;
        padding-bottom: 0;
        color: #ECE6D5;
        font-family: six caps;
        font-size: 9.375rem;
        transition: 0.5s;
        
        &:hover{
            letter-spacing: 1.5rem;
        }
    }

    .p2{
        margin: 0;
        padding-top: 1%;
        padding-bottom: 7%;
        color: #ECE6D5;
        font-family: 'Montserrat';
        font-size: 2rem;
        letter-spacing: 2.188rem;
    }
 
}

.info{
    padding: 2em;
    display: flex;
    justify-content: center;
    .info-details{
        display: block;
        /* justify-content: center; */
        text-align: center;
        img{
            position: relative;
            background: #ECE6D5;
            max-width: 20vw;
            border: 0.5vw solid #D5CAA7;
            border-radius: 2em;
            z-index: -99;
            /* margin-left: 4em; */
        }

        #basic-info{
            
            justify-content: center;
            background: #050C0F;
            margin-top: -2.8em;
            font-family: 'montserrat';
            padding: 1em;
            border: 0.5vw solid #D5CAA7;
            border-radius: 2em;
            /* z-index: 100; */
            width: 25vw;
            min-height: 10vw;
            max-width: 25vw;
            
            li{
                color: #ECE6D5;
                list-style: none;
                line-height: 2.3em;
            }   
            
        }

        #skills{
            
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: -0.5em;
            background: #050C0F;
            font-family: 'montserrat';
            padding: 1em;
            border: 0.5vw solid hsl(46, 35%, 75%);
            border-radius: 2em;
            width: 25vw;
            max-width: 25vw;
            gap: 1.5em;
            line-height: 0.5em;
            img{
                z-index: 0;
                border: 0;
                border-radius: 0;
                background: 0;
                max-width: 4vw;
            }
            .p3{
                color: #ECE6D5;
                font-family: 'montserrat';
                font-weight: 700;
                justify-content:center;
                width: 100%;            
                line-height: 1.5rem;
            }
            li{
                padding-top: 20px 0px;
                color: #ECE6D5;
                list-style: none;
                line-height: 2em;
            }
        }
    }
    
    h1{
        font-family: 'Montserrat';
        text-align: center;
        letter-spacing: 4vw;
        font-size: 4vw;
        margin-left: 1.5em;
        margin-top: 10vh;
        margin-bottom: 0vh;
    }
    /* p{
        font-family: 'montserrat';
        font-size: 2rem;
    } */

    .info-text{
        display: inline-block;
        justify-content: center;
        p{
            font-family: 'montserrat';
            margin: auto;
            font-size: 1.2vw;
            width: 50vw;
            text-align: center;
        }

        #works{
            /* justify-content: center; */
            background-color: #050C0F;
            /* padding-top: 2vh; */
            padding-bottom: 2vh;
            padding-left: 0;
            margin-left: 5vw;
            margin-right: 5vw;
            margin-top: 4.5vw;
            border-radius: 2em;
            max-height: 100vw;
            min-height: 39vw;
            border: 0.5vw solid #D5CAA7;

            .p4{
                color: #ECE6D5;
                background-color: #050C0F;
                max-width: 20%;
                min-width: 15%;
                
                font-family: 'montserrat';
                font-weight: 500;
                justify-content:center;
                width: 100%;            
                line-height: 1.5rem;
                font-size: large;

                padding-top:1.5vh ;
                padding-bottom:1.5vh ;
                /* border: 0.5vw solid #D5CAA7;
                margin-left: 20%;
                margin-right: 20%;
                padding-top: 1vw;
                padding-bottom: 1vw;
                padding-left: 0;
                padding-right: 0; */
                border-radius: 1em;
                border: 0.5vw solid #D5CAA7;
                transform: translate(-0%, -50%);
            }

            .work-gallery{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 5vw;
                padding-top: 4vh;
                padding-left: 3vw;
                padding-right: 3vw;
            }
            .image-with-text{
                max-width: 15vw;
                display:flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                
                padding-top: vh;
                img{
                   z-index: 0;
                    border: 0;
                    border-radius: 0;
                    background: 0;
                    max-width: 15vw;
                }
                .p5{
                    text-align: center;
                    font-family: 'montserrat';
                    color: #ECE6D5;
                    list-style: none;
                    line-height: 2.3em;
                    max-width: 15vw;
                }
            }
            
        }
    }
}

#L1, #L2, #L3, #L4{
    transition: ease-in-out 0.2s;
    &:hover{
        text-decoration: underline;
        text-decoration-thickness:4px ;
        text-underline-offset: 10px;
        transform: translateY(-5px);
    }
}

@media (max-width:650px ) {
    .hide-desktop{

        display: block;
        align-content: center;
    }
    .hide-mobile{
        display: block;
    }

    body{
        width: 100%;
    }

    .menu{
        display: none;
    }

    .dropdown{
        height: auto;
        z-index: 999;
        transform: translateY(0%);
        background: #050C0F;
        line-height: 3em;
        border-radius: 40px;
        box-shadow:0px 5px 2px 2px rgba(0, 0, 0, 0.301);
        transform: translateY(-150%);
        li{
            width: 100%;
            text-align: center;
            img{
                padding-bottom: 2em;
            }
        }

        transition: transform 1s ease-in-out;
        
    }
    nav{
        /* border-radius: 0; */
        padding: 0;
        max-height: 78.8px;
    }
    .hamburger{
        padding: 1.9em;
        text-align: center;
    }

    .wrap{
        width: 100%;
        border-radius: 0px 0px 50px 50px;
    }

    .herocontainer{
        .p1{
            font-size: 5rem;
            letter-spacing: 10px;
        }

        .p2{
            font-size: 1rem;
            letter-spacing: 18px;
        }
    }

    .info{
        display: flex;
        flex-direction:column;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;

        .info-details{
            display: inline-block;
            text-align: center;
            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 10em;
                border: 6px solid #D5CAA7;
                border-radius: 1em;
            }

            #basic-info{
                text-align: center;
                max-width: 55vw;
                min-width: 230px;
                max-height: 200vw;
                min-height: 30vw;
                margin-left: auto;
                margin-right: auto;
                li{
                    list-style: none;
                }
            }
            #skills{
                text-align: center;
                max-width: 55vw;
                min-width: 230px;
                margin-left: auto;
                margin-right: auto;
                img{
                    z-index: 0;
                    border: 0;
                    border-radius: 0;
                    background: 0;
                    min-width: 7vw;
                }
                li{
                    list-style: none;
                    padding-top: 20px 0px;
                    color: #ECE6D5;
                    list-style: none;
                    line-height: 1em;
                }
            }
        }
        

        h1{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.2em;
            margin-top: 1vh;
            padding: 0;
            font-size: 7vw;
            /* letter-spacing: 0.8em; */
            text-align: end;
        }

        .info-text{
            display: inline-block;
            display: none;
            justify-content: center;
            p{
                font-family: 'montserrat';
                margin: auto;
                font-size: 1rem;
                width: 80vw;
                text-align: center;
                margin-bottom: 2em;
            }
            #works{
                display:inline-block;
            }
        }
    }
    
}

.open{
    transform: translateY(-22%);
}