body{
    margin: 0;
    padding: 0;
    background:#ECE6D5 ;
 }

.hide-desktop{
    display: none;
 }

.wrap{
    /* padding: 1.5em 4em; */
    background: #050C0F;
    height: auto;
    border-radius: 0px 0px 100px 100px;
}

main{
    padding: 0;
    margin: 0;
}

#L0{
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

nav {
    height: auto;
    padding-left: 4em;
    padding-right: 4em;
    border-radius: 40px;
    box-shadow:0px 5px 2px 2px rgba(0, 0, 0, 0.301);

    ul{
        
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        padding-top: 1em;
        padding-bottom: 1em;
        font-family: montserrat;
        color: #ECE6D5;
        list-style: none;
        justify-content: space-between;

        .menu{
/*             
            &:nth-of-type(3){
                text-align: center;
                font-weight: 600;
                font-size: 1.2rem;
            } */
        }

        a{
            text-decoration: none;
            color: #ECE6D5;
        }
    }
}

.herocontainer{
    /* margin-left:30%; */
    /* margin-right:30%; */
    text-align: center;
    align-items: center;

    .p1{
        display: inline-block ;
        letter-spacing: 20px;
        line-height: 100%;
        margin: auto;
        padding-top: 7%;
        padding-bottom: 0;
        color: #ECE6D5;
        font-family: six caps;
        font-size: 9.375rem;
        transition: 0.5s;
        
        &:hover{
            letter-spacing: 1.5rem;
        }
    }

    .p2{
        margin: 0;
        padding-top: 1%;
        padding-bottom: 7%;
        color: #ECE6D5;
        font-family: 'Montserrat';
        font-size: 2rem;
        letter-spacing: 2.188rem;
    }
 
}

.info{
    padding: 2em;
    display: flex;
    justify-content: center;
    img{
        max-width: 20vw;
        border: 1vw solid #D5CAA7;
        border-radius: 2em;
        /* margin-left: 4em; */
    }
    h1{
        font-family: 'Montserrat';
        letter-spacing: 1em;
        font-size: 4vw;
        margin-left: 2em;
    }
    /* p{
        font-family: 'montserrat';
        font-size: 2rem;
    } */

    .info-text{
        display: inline-block;
        justify-content: center;
        p{
            font-family: 'montserrat';
            margin: auto;
            font-size: 1.5vw;
            width: 50vw;
            text-align: center;
        }
    }
}

#L1, #L2, #L3, #L4{
    transition: ease-in-out 0.2s;
    &:hover{
        text-decoration: underline;
        text-decoration-thickness:4px ;
        text-underline-offset: 10px;
        transform: translateY(-5px);
    }
}

@media (max-width:650px ) {
    .hide-desktop{

        display: block;
        align-content: center;
    }
    .hide-mobile{
        display: block;
    }

    body{
        width: 100%;
    }

    .menu{
        display: none;
    }

    .dropdown{
        height: auto;
        z-index: 999;
        transform: translateY(0%);
        background: #050C0F;
        line-height: 3em;
        border-radius: 40px;
        box-shadow:0px 5px 2px 2px rgba(0, 0, 0, 0.301);
        transform: translateY(-150%);
        li{
            width: 100%;
            text-align: center;
            img{
                padding-bottom: 2em;
            }
        }

        transition: transform 1s ease-in-out;
        
    }
    nav{
        /* border-radius: 0; */
        padding: 0;
        max-height: 78.8px;
    }
    .hamburger{
        padding: 1.9em;
        text-align: center;
    }

    .wrap{
        width: 100%;
        border-radius: 0px 0px 50px 50px;
    }

    .herocontainer{
        .p1{
            font-size: 5rem;
            letter-spacing: 10px;
        }

        .p2{
            font-size: 1rem;
            letter-spacing: 18px;
        }
    }

    .info{
        display: flex;
        flex-direction: column-reverse;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 10em;
            border: 6px solid #D5CAA7;
            border-radius: 1em;
        }

        h1{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.2em;
            padding: 0;
            font-size: 7vw;
            /* letter-spacing: 0.8em; */
            text-align: end;
        }

        .info-text{
            display: inline-block;
            justify-content: center;
            p{
                font-family: 'montserrat';
                margin: auto;
                font-size: 1rem;
                width: 80vw;
                text-align: center;
                margin-bottom: 2em;
            }
        }
    }
    
}

.open{
    transform: translateY(-22%);
}